header{
    width: 100%;
    height: 12%;

    padding: 0 2%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-figure{
    height: 80%;
}

#logo{
    height: 100%;

    border-radius: 50%;
    box-shadow: 2px 2px 4px 2px var(--colorShadows);
}

#profession{
    font-size: 2vw;
    color: var(--colorBlack);

    margin-left: 2%;
}

@media (max-width: 480px){
    header{
        height: 8%;
    }
    #profession{
        font-size: 6vw;
    }
}