
#main-texts{
    height: 80%;
    width: 30%;
}

#name{
    position: absolute;
    font-size: 12vw;
    top: 18%;

    transition: all 0.2s ease-in-out;
    cursor:default;
}
#last-name{
    position: absolute;
    font-size: 9.2vw;
    top: 39%;
    
    transition: all 0.2s ease-in-out;
    cursor:default;
}
#description{
    position: absolute;
    font-size: 1vw;
    top: 60%;
    width: 24.8%;
    text-align: justify;
    
    transition: all 0.2s ease-in-out;
    cursor:default;
}

#name:hover{
    color: var(--colorBlue);
}

#last-name:hover{
    color: var(--colorPink);
}

#description:hover{
    color: var(--colorOrange);
}

@media (max-width: 480px){
    #main-texts{
        height: 90%;
        width: 90%;
    }
    #name{
        font-size: 32vw;
        top: 10%;
    }
    #last-name{
        font-size: 24.5vw;
        top: 25%;
    }
    #description{
        font-size: 3vw;
        top: 75%;
        width: 90%;
        text-align: justify;
    }
}