@import url(./menu/menu.css);
@import url(./languages.css);
@import url(./logo.css);

header{
    width: 97vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2vh 1.5vw;

    font-size: 1vw;
    font-family: var(--fontCurve);
    color: var(--colorBlack);
}

header div{
    display: flex;
    align-items: center;
}


@media (max-width: 820px) {
  header{
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
    header div{
        display: flex;
        justify-content: end;
    }
}