#header-logo{
    width: 5%;
    height: auto;

    margin: 0 1% 0 0 ;
    filter: drop-shadow(3px 8px 3px var(--colorShadow));
}

.img-mobile-only{
    display: none;
}
.img-desktop-only{
    display: block;
}