@import url(./text-item.css);

#menu{
    display: flex;
}

.icon-mobile-only{
    display: none;
}

.item-desktop-only{
    display: block;
}

@media (max-width: 480px) {
    #menu{
        font-size: 5vw;
    }
    #menu i{
        margin: 0 4vw 0 0;
    }
}