main {
    width: 90vw;
    margin: 0 5vw;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: start;

    cursor: default;
}

article {
    width: 75%;
}

article section {
    width: 90%;
    margin: 2% 5%;

    scroll-margin-top: 13vh;
}

section h2 {
    font-size: 4vw;
}

section h4 {
    margin: 2vh 0;
    font-size: 2.5vw;
}

section p {
    text-align: justify;
    font-size: 1vw;
}

section img {
    width: 40%;
    height: auto;

    margin: 3vh 30%;
}

.img-retangular {
    width: 80%;
    height: 60vh;
    margin: 0 10% 3vh;
}

aside {
    width: 23%;
    position: sticky;
    top: 13vh;
}

#atalhos {
    padding: 0.2% 0;
    background-color: #014787;
}

.item_atalho {
    font-size: 1.2vw;
    margin: 2%; 
    list-style: none;
    color: white;
    background-color: #085aa6;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    transition: all 0.2s ease-in-out;
}
.item_atalho p{
    margin: 2% 5%;
}
.item_atalho i{
    transition: all 0.2s ease-in-out;
    margin: 2% 8%;
}

.item_atalho:hover i{
    transform: scale(1.5);
    margin: 1% 5%;
}

.propaganda {
    width: 100%;
    height: 15vh;

    margin: 1vw 0;

    background-position: center;
    background-size: 100%;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.propaganda:hover{  
    background-size: 150%;
}

#stean {
    background-image: url("https://wallpapercave.com/wp/wp3130254.jpg");
}

#xbox {
    background-image: url("https://wallpapercave.com/wp/wp3403704.jpg");
}

#playstation {
    background-image: url("https://th.bing.com/th/id/R.8f59ce8508f926e7a971f8012ea039dd?rik=bK8%2bkgEnLa2YRw&pid=ImgRaw&r=0");
}

@media (max-width: 480px) {
    aside {
        display: none;
    }

    article {
        width: 100%;
    }

    article section {
        width: 100%;
        margin: 2% 0;
    }

    section h2 {
        font-size: 7vw;
    }

    section h4 {
        margin: 1vh 0;
        font-size: 5vw;
    }

    section p {
        font-size: 3.5vw;
    }

    section img {
        width: 60%;
        margin: 0vh 20%;
    }

    .img-retangular {
        width: 90%;
        height: 30vh;
        margin: 0 5%;
    }
}