nav{
    width: 90vw;
    height: 45vh;

    margin: 2vh 5vw;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: end;

    background-color: red;
}

nav div{
    width: 96%;
    text-align: start;

    margin: 2%;
}

nav h3{
    font-size: 3vw;
}
nav p{
    font-size: 1vw;
}

nav button{
    width: 15%;
    height: 8%;
    margin: 3% 5%;
}