@import url(./infos_banner/infos_banner.css);
@import url(./imgs_banner.css);

#banners{
    width: 100vw;
    height: 85vh;
}

@media (max-width: 820px) {
    #banners{
        height: 50vh;
    }
}

@media (max-width: 480px) {
    #banners{
        height: 70vh;
    }
} 