.projects {
    padding: 5vh 10vw;
    background-color: var(--colorOrange);
}

.projects h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--colorWhite);
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.project-item h3 {
    font-size: 1.5rem;
    color: var(--colorWhite);
    font-weight: 500;
}

.project-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 2% 0;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.projects-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.projects-btn.learn-more {
    width: 12rem;
    height: auto;
}

.projects-btn.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--colorWhite);
    border-radius: 1.625rem;
}

.projects-btn.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--colorBlack);
}

.projects-btn.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.projects-btn.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--colorOrange);
    border-right: 0.125rem solid var(--colorOrange);
    transform: rotate(45deg);
}

.projects-btn.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--colorWhite);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.projects-btn:hover .circle {
    width: 100%;
}

.projects-btn:hover .circle .icon.arrow {
    background: var(--colorOrange);
    transform: translate(1rem, 0);
}

.projects-btn:hover .button-text {
    color: var(--colorOrange);
}