@import url(./default.css);
@import url(./vars.css);

@import url(./header.css);
@import url(./hero.css);
@import url(./projects.css);
@import url(./footer.css);

body {
    font-family: 'Roboto';
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    line-height: 1.6;
}


.projects-grid {
    grid-template-columns: 1fr 1fr;
}